/* @import-normalize; bring in normalize.css styles */


/* .p {
    height: auto;
    width: ;
    background: blue;
    background-color: #929ca5;
    text-overflow: ;
    text-decoration: ;
    gap: ;
    display: flow-root;
    margin-top: ;
    color: #888787;
} */

